[submodule "dashboard"]
	path = dashboard
	url = https://github.com/cakephp/cakephp.git
[submodule "plugins/blank.skel"]
	path = plugins/blank.skel
	url = https://github.com/37signals/sub.git
[submodule "plugins/cronski"]
	path = plugins/cronski
	url = git@github.com:jroberts0001/cronski.git
